/* agendamentos.css */

/* Estilos gerais */
* {
  box-sizing: border-box; /* Adiciona box-sizing para todos os elementos */
}

.calendar-card,
.schedule-card {
  transition: all 0.3s ease;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
  overflow: hidden;
}

.calendar-card {
  max-width: 400px;
}

.schedule-card {
  max-width: 1000px;
}

/* Estilos para os dias do calendário */
.h-9 {
  height: 30px;
}

.w-9 {
  width: 30px;
  font-size: 0.875rem;
}

/* Estilo base para o dialog */
.dialog-content {
  max-width: 600px; /* Largura máxima para telas grandes */
  width: 100%; /* Largura padrão para telas menores */
}

/* Media queries organizadas por intervalos claros */

/* Telas menores ou iguais a 320px */
@media (max-width: 320px) {
  .calendar-card {
    /* background-color: #ffe6e6;  */
  }
  .schedule-card {
    /* background-color: #fff5cc;  */
  }
  .dialog-content {
    /* background-color: #e6faff;  */
  }
  .calendar {
    padding: 0rem;
  }
}

/* Telas de 321px a 375px */
@media (min-width: 321px) and (max-width: 375px) {
  .calendar-card {
    /* background-color: #ebe6ff;  */
  }
  .schedule-card {
    /* background-color: #ffe6f2;  */
  }
  .dialog-content {
    /* background-color: #f9e6ff;  */
  }
  .calendar {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
  }
}

/* Telas de 376px a 390px */
@media (min-width: 376px) and (max-width: 390px) {
  .calendar-card {
    /* background-color: #f7f2e6; */
  }
  .schedule-card {
    /* background-color: #e6fff5;  */
  }
  .dialog-content {
    /* background-color: #f3e6ff;  */
  }
  .calendar {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* Telas de 391px a 414px */
@media (min-width: 391px) and (max-width: 414px) {
  .calendar-card {
    /* background-color: #f9e6f3; */
  }
  .schedule-card {
    /* background-color: #fff5cc;  */
  }
  .dialog-content {
    /* background-color: #e6faff;  */
  }
  .calendar {
    padding-left: 1.9rem;
    padding-right: 1.9rem;
  }
}

/* Telas maiores ou iguais a 415px */
@media (min-width: 415px) {
  .calendar-card {
    padding-left: 1rem;
    padding-right: 1rem;
    /* background-color: #ffe6e6; */
  }
  .schedule-card {
    /* background-color: #e6ffe6 */
  }
  .calendar {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }
}
